{% extends "base.html.twig" %}
{% block body %}
 {{ include('seller/nav.twig') }}
    add product details
    <form>
        <div>
            <label for='category'> Category: </label>
            <input type='text' name='category' id='category'/>
        </div>

        <div>
            <label for='sub_category'> Sub-Category: </label>
            <input type='text' name='sub_category' id='sub_category'/>
        </div>


    </form>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock body %}
