<table>
    <tr>
        <td>id  </td>
        <td> sellerId</td>
        <td> data </td>
    </tr>

    {% for sellerProduct in data %}
           <tr>
                <td> {{ sellerProduct.sellerId }} </td>
                <td> {{ sellerProduct.modelId }} </td>
                <td> {{ sellerProduct.id }} </td>
           </tr> 
    {% endfor %}

</table>