{% extends "base.html.twig" %}

{% block body %}

    <a href="/user/login"> login</a>
    <br/>
    <br/>
    <br/>
    <a href="/admin/register"> admin Register </a>
    <br/>
    <a href="/seller/register"> seller Register </a>
    <br/>
    <a href="/user/register"> user Register </a>

{% endblock %}