  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {# <li><a href="{{ path('customer_add_product') }}">Add Product</a></li> #}
        {# <li><a href="{{ path('customer_view_product')}}">View Product</a></li> #}
        <li><a href="{{ path('customer_profile') }}">Profile</a></li>
      </ul>
    </div>
  </nav>
  